body {
  background-color: rgb(193, 208, 227);
  text-align: justify;
}

.kartya {
  background-color: rgb(200, 191, 231);
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
}

.kepek {
  border-bottom-left-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
  border-top-right-radius: 45pt;
  width: 100%;
  height: 60%;
}

.alcim {
  color: rgb(98, 112, 236);
}

#cim {
  color: rgb(98, 112, 236);
  text-align: center;
  margin-top: 15px;
}

.card-text {
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
}

<<<<<<< HEAD
.carousel-inner img {
  width: 95%;
  height: 80%;
}

#menu{
  background-color: brown;
}

#menupont{
  color: black;
}
=======
.card-body {
  height: 100%;
}
>>>>>>> 4c7086013e79def00540a8751b99fa8afe1aa5d2
