body {
  background-color: rgb(193, 208, 227);
  text-align: justify;
}

.kartya {
  background-color: rgb(200, 191, 231);
  border-radius: 45pt;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 25px;
 
}

.kepek {
  border-radius: 45pt;
  width: 100%;
  height: 60%;
}

.alcim {
  color: rgb(98, 112, 236);
}

#cim {
  color: rgb(83, 46, 152);
  text-align: center;
  margin-top: 15px;
}

.card-text {
  border: 30px;
}

.carousel-inner img {
  width: 100%;
  height: 80%;
}

#menupontt{
  color: black;
  margin-left: 100px;
}

#menupontt:hover {
  color: blueviolet;
}

#menu1{
  background-color: rgb(142, 191, 232);
  text-align: center;
  border-bottom-right-radius: 45pt;
  border-bottom-left-radius: 45pt;
  border-top-left-radius: 45pt;
  border-top-right-radius: 45pt;
}

#menu {
  background-color: rgb(142, 191, 232);
  text-align: center;
  border-bottom-right-radius: 45pt;
  border-bottom-left-radius: 45pt;
}

#menupont {
  color: black;
  margin-left: 100px;
}
#menupont:hover {
  color: blueviolet;
}
.card-body {
  height: 100%;
}

#szöveg {
  display: inline-block;
  width: 700px;
  background-color: rgb(200, 191, 231);
  border-radius: 45pt;
  padding: 25px;
  margin-right: 50px;
}

#kepecske {
  display: inline-block;
  width: 50px;
}

#kepecskekepe {
  height: 200px;
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
}

.kartya1 {
  background-color: rgb(200, 191, 231);
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
  padding: 20px;
  width: 600px;
  margin-top: 70px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10px;
  margin-right: 20px;
}

.hirlevel {
  font-size: 200%;
  text-align: left;
}

.hirlevel {
  text-align: left;
}

.kartyaasvanylexikon {
  background-color: rgb(200, 191, 231);
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
  padding: 25px;
  width: 900px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kartya3 {
  background-color: rgb(200, 191, 231);
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
}

.resz {
  margin-top: 25px;
  margin-bottom: 25px;
}

.kepecskekepeá {
  height: 200px;
  border-bottom-left-radius: 45pt;
  border-top-right-radius: 45pt;
  border-bottom-right-radius: 45pt;
  border-top-left-radius: 45pt;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.kepecskeá {
  display: inline-block;
  width: 50px;
}

.link {
  color: rgb(98, 112, 236);
  text-decoration: none;
}

#nyalizas {
  margin-top: 50px;
  margin-bottom: 50px;
}

.profil {
  margin-right: 5px;
}

.bevitelimezo{
  background-color: azure;
}
