body {
  background-color: rgb(193, 208, 227);
}

.ekszerkartya{
  background-color: rgb(200, 191, 231);
}

#ekszerhatter{
  background-color: royalblue;
}

#ekszercim{
  color: rgb(98, 112, 236);
  text-align: center;
  margin-top: 15px;
}

.ekszeralcim{
  color: rgb(98, 112, 236);
}

#cim{
  color: blueviolet;
  text-align: center;
}
